@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

:root {
    --primary: #20297c;
    --secondary: #eff1ff;
    --accent: #217b78;
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-secondary text-primary;
    font-family: "Instrument Sans", sans-serif;
}
